<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about page</h1>
    <hr><hr>
    <div  th:replace="~{base::parent(~{::.main-class})}" >
    <section class="main-class"> <p>This is the parameter passed as dynamic content</p>
<h1>checking</h1>
<button>Click me </button>    
    </section>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
    <title>About Page</title>
</head>
<body>

<div id="content">
<h1>Welcome to about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quisquam!</p>
</div>


</body>
</html>